/***Base styles***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Comic Sans MS", cursive, sans-serif;;
}
.h1 {
    text-align: center;
    margin:30px 0;
}

.div1, .div2, .div3 {
    border: 1px solid #000;
    background-color: #999999;
    padding:40px 25px 25px 25px;
    margin: 15px;
    position: relative;
}

.book {
    background-color: green;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 0 5px;
}
.car {
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 0 5px;
}
.house {
    background-color: blue;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 0 5px;
}
#grids {
    display: grid;
}

.div1 {
    grid-area: div1;
} 
.div2 {
    grid-area: div2;
} 
.div3 {
    grid-area: div3;
} 

/***Base styles ends***/

/* media quries  */

@media (min-width:992px){
    #grids {
        grid-template-areas: 'div1 div2 div3';
    }
}

@media (min-width:768px) and (max-width:991px){
    #grids {
        grid-template-areas: 
        'div1 div2 '
        'div3 div3'
        ;
    }
    
}
@media (max-width:767px){
    #grids {
        display: block;
    }
    
}
